@import "../../../../../../../../scss/variables.scss";
@import "../../../../../../../../scss/common.scss";

.#{$namespace}conversation-container {
  .#{$namespace}videoFrame {
    width: 300px;
    height: 200px;
    margin-top: 10px;
    border: none;
  }
}

